body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container2{
    
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
h5 {
    color: #007bff;
}

p {
    line-height: 1.6;
    color: #555;
}

.not-found {
    text-align: center;
    color: #ff0000;
}