<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
            <li><a href="{% url "createblog" %}">Create Blog</a></li>
            <li><a href="{% url "blog" %}">Blog</a></li>
        </ul>
    </nav>

    <h1>About Us</h1>

    <p>
        Welcome to our Daily Blog platform! We are passionate about creating a space where individuals can share their thoughts, experiences, and stories with the world.
    </p>

    <p>
        Our mission is to empower everyone to express themselves through writing, connect with like-minded individuals, and discover a world of diverse perspectives.
    </p>
</body>
</html>
