<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingUP</title>
    <link rel="stylesheet" href="{%  static 'singup.css' %}">
</head>
<body>

    <div class='singup-main'>
        <form action="#" method='POST'>
            {% csrf_token %}

        {% for fm in form %}
    
        {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br>
        {% endfor %}
        <input type="submit" value='Singup'>
    </form>
    <div class='singup-content'>

        <p>Already SingUP Then Login Here. </p>
    <a href="{% url 'login' %}">Login</a>
    

    </div>
    


    </div>
    

</body>
</html>